/*Index stylesheet*/

@import url('navbar.css');

.carousel-inner h1{
  color: white;
  font-size: 60px;
  text-align: center;  
  line-height: 55px;
  margin-top: 30px;
}

.carousel-control{
  margin-top: 20px; 
}

.featurette-heading {
	font-size: 45px;
	font-weight: 300;
	line-height: 1;
	letter-spacing: -1px;
	padding: 20px 0px;
}

.tab-content .lead {
	font-size: 20px;
}

#carousel{
  margin-top: 85px;
  background: url(../img/fondo.jpg) center center no-repeat;
  background-size: cover;
  height: 430px;
}

#logo{
  height: 220px;
  margin-top: 20px;
}

#carousel-img1{
  height: 400px;
  width: 900px;
  padding-top: 20px;
}

#descripcion{
	letter-spacing: -1px;
	text-align: center;
	line-height: 1.5;
}

#labor{
	padding-top: 0px;
}

/* RESPONSIVE CSS */

@media(max-width: 1250px){
	.span8 h3{
		letter-spacing: -0.5px;
		text-align: center;
		line-height: 1.5;
	}
	
	.active .container-fluid .row-fluid img{
		display: none;
	}
	
}

/*@media(max-width: 1199px){
  .carousel-inner h1{
	margin-top: 50px;
  }  
}*/

@media(max-width: 1199px){
  
  .carousel-inner h1{
  color: white;
  font-size: 50px;
  text-align: center;  
  line-height: 55px;
  margin-top: 50px;
  }	
}

@media (max-width: 979px) {

	.masthead{
		padding-top: 60px;
	}

	.masthead h1{
		font-size: 40px;
		padding-bottom: 10px;
		text-align: center;
	}
	
	.container .row h3{
		font-size: 21px;
		line-height: 1.5;
		font-weight: normal;
	}

	.featurette-heading {
		font-size: 31px;
	}

	.featurette {
		height: auto;
		padding: 0;
	}
	
	#logo{
		margin-top: -25px;
		height: 220px;
  }	
}

@media (max-width: 779px) {
	#logo{
		margin-top: 0px;
		height: 220px;
  }
}

@media (max-width: 767px) {

	.masthead{
		top: 60px;
	}

	.masthead .container-fluid .row-fluid h1{
		font-size: 30px;
		line-height: 30px;
		letter-spacing: -1px;;
	}

	.container .row h3{
		font-size: 18px;
		line-height: 1.5;
		font-weight: normal;
		margin-top: -10px;
	}

	.featurette-heading {
		font-size: 30px;
		padding-top: 0px;
	}

	.featurette .lead {
		font-size: 18px;
		line-height: 1.5;
	}

	#labor{
		padding-top: 10px;
	}

	.nav-tabs{
		margin-left: auto;
		margin-right: auto;
	}
	
	#logo{
		margin-top: 10px;
		height: 150px;
  }
}
