/*Material stylesheet*/


@import url('navbar.css');

.page-header{
	margin-top: 100px;
}

.page-header h1{
	font-size: 58px;
}

.nav-list{
	top: 70px;
	width: 217px;
}

@media (max-width: 1199px){
	.nav-list{
		width: 190px;
	}
}

@media (max-width: 979px){
	.page-header{
		margin-top: 70px;
	}

	.page-header h1{
		font-size: 40px;
	}
	
	.nav-list{
		width: 120px;
	}

}

@media (max-width: 767px){
	.page-header{
		margin-top: 60px;
	}

	.page-header h1{
		font-size: 35px;
		text-align: center;
	}

	h1 small{
		font-size: 19px;
	}

	.well{
		margin-bottom: 30px;
	}
	
	.nav-list{
		width: 217px;
		position: static;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 30px;
	}
}